Checks: "-*,boost-*,bugprone-*,concurrency-*,cppcoreguidelines-*,misc-*,modernize-*,performance-*,portability-*,readability-*,google-build-namespaces,google-build-using-namespace,google-global-names-in-headers,google-readability-casting,google-runtime-operator,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-constant-array-index,-*magic-numbers*,-*avoid-c-arrays*,-modernize-use-trailing-return-type,-readability-else-after-return,-readability-named-parameter,-readability-identifier-length,-bugprone-easily-swappable-parameters,-bugprone-exception-escape,-cppcoreguidelines-pro-type-union-access, -bugprone-narrowing-conversions, -cppcoreguidelines-narrowing-conversions, -bugprone-integer-division, -cppcoreguidelines-avoid-non-const-global-variables"

WarningsAsErrors: "*"
ExtraArgs:
    - "-std=c++17"
    - "-Iinclude"
ExtraArgsBefore:
    - "-xc++"
